<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room_type.name %>
</p>

<p>
  <strong>Bed type:</strong>
  <%= @room_type.bed_type %>
</p>

<p>
  <strong>Base rate:</strong>
  <%= @room_type.base_rate %>
</p>

<p>
  <strong>Non smoking:</strong>
  <%= @room_type.non_smoking %>
</p>

<p>
  <strong>Pets welcome:</strong>
  <%= @room_type.pets_welcome %>
</p>

<p>
  <strong>Family welcome:</strong>
  <%= @room_type.family_welcome %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @room_type.beds %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @room_type.tags %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @room_type.capacity %>
</p>

<%= link_to 'Edit', edit_room_type_path(@room_type) %> |
<%= link_to 'Back', room_types_path %>
