<%= form_for(@room, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @room.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h4>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :room_number, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :room_number, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :room_type, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :room_type_id, RoomType.all, :id, :name, { :prompt => "Please select" }, {:class => "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :bed_type, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :bed_type, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :base_rate, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :base_rate, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :non_smoking, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :non_smoking, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pets_welcome, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :pets_welcome, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :family_welcome, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :family_welcome, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :beds, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :beds, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tags, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :tags, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :capacity, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :capacity, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
